@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ------------------------ */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

.pop-reg {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  color: white;
}

.pop-bold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  color: white;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-family: 400;
  color: white;
}

main {
  min-height: 100vh;
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--violet);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 1rem;
  align-self: self-start;
}

.text-area {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.text-area h1 {
  font-size: 2.5rem;
}

button {
  color: var(--violet) !important;
  padding: 15px;
  border-radius: 25px;
  border: none;
  transition: all linear 100ms;
  width: 200px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  background-color: var(--soft-magenta);
  color: white !important;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.sIcons {
  aspect-ratio: 1/1;
  width: 45px;
  fill: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;
  transition: all linear 100ms;
}

.content {
  display: flex;
  flex-direction: column;
}

.sIcons:hover {
  fill: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

@media (min-width: 800px) {

  main {
    justify-content: center;
    background-image: url('./images/bg-desktop.svg');
  }

  .content {
    flex-direction: row;
    gap: 1rem;
  }

  .content > div {
    flex: 1;
  }



  .text-area {
    /* flex: 1; */
    text-align: start;
    align-items: start;
    gap: 2rem;
    padding: 0 2rem;
  }

  .social-links {
    align-self: flex-end;
  }
  
}
